
*{
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #000;
    --gray: #757575;
}

body {
    font-family:  'Roboto','Raleway', sans-serif;
    font-weight: 400;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --------Logo header-----------*/

header {
    border-bottom: 1px solid #ececec;
    background-color: #fff;
    padding: 25px 0;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container-menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation {
    background: var(--white);
    display: flex;
}

.navigation-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    text-decoration-line: none;
    margin-right: 93px;
    }

.navigation-logo-web {
    color: var(--blue);
    text-decoration-line: none;
}

.navigation-logo-web-studio {
    color: var(--black);
    text-decoration: none;
}

        /* -----Linki-------*/

.header.container {
    display: flex;
}

.list {
    display: flex;
    align-items: center;
}

.navigation-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    color: #212121;
    text-decoration: none;
    margin-right: 46px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--blue);
}

/*-------Contact---------*/

.contakt-link.tel {
    margin-left: 50px;
    margin-right: auto;
}

.contakt-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: #757575;
    list-style-type: none;
    text-decoration: none;
    margin-left: auto;
}

.contakt-link:hover,
.contakt-link:focus {
    color: var(--blue);
}


/*-------Fist section html----- */

.button-title {
    background: #2F303A; 
    padding: 200px 0px;
    text-align: center;
}
.title {
    font-family: 'roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    max-width: 696px;
    margin: 0 auto 30px;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    padding: 10px 42px;
    border: 0px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

}

.button1:hover {
    background-color: #757575;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main.container {
    display: flex;
}

/*-------Buttons portfolio-------*/


.item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: -8px;
    padding-bottom: 50px;
}

.button {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-left: 8px;
    margin-bottom: 8px;
    border: 0px;
    padding: 6px 22px;
    border-radius: 4px;
}

.button:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button.button:only-first-child {
    margin-left: 0px;
}

/*------Do wszystkich UL----------*/

.main-menu {
    list-style-type: none;
    display: flex;
}
/*---------Lorem Ipsum-------------*/

.manu {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    list-style-type: none;
    padding-bottom: 10px;
    justify-content: space-between;
   
}

.submenu {
    font-family: 'roboto';
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: #757575;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 30px;
    }

.submenu:not(:last-child) {
    padding-right: 30px;
}

.list2 {
    margin-left: -30px;
    
}

.main-menu-tekst {
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 270px;
}

/*-----Portfolio image------*/

.section {
    padding: 94px 0;
}

.type {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    font-style: normal;
}

.main-menu-type-list {
    background-color: var(--white);
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 370px;
}

.main-menu-type-list-image {
    display: block;
}

.main-menu-type-list figcaption {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.main-menu-type-list1 {
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 370px;
}

.manu1 {
    font-family: 'roboto';
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    padding: 20px 24px 4px 24px;
    word-wrap: normal;
}

.submanu1 {
    font-family: 'roboto';
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    padding: 0px 24px 20px 24px;
}

/*---------Czym się zajmujemy-------*/

.title2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
    color: #212121;
    margin-bottom: 50px;
}

.picture {
    margin-bottom: 30px;
    margin-left: 30px;
}

       /*========Nasz zespół=======*/

.background {
    background-color: #f5f4fa;
}

.title3 {
    margin-bottom: 50px;
}

.title3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style-type: none;
}

.team {
    margin-left: -30px;
    margin-bottom: -30px;
}

.name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
    margin-bottom: 10px;
}

.post {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.picture-team {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.picture-team-item {
    min-width: 270px;
    display: block;

}

/*footer*/

.footer {
    background-color: #2f303a;
    color: #fff;
    padding: 60px 0;
    font-style: normal;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration-line: none;
    display: inline-block;
}

.footer-logo-web {
    color: #2196F3;
}
.footer-logo-studio {
    color: #fff;
}

.footer-text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
    color: #fff;
    margin-bottom: 9px;
    display: block;
    font-style: normal;
    letter-spacing: 0.03em;
}

.footer-text:last-child {
margin-bottom: 0;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: rgba(255, 255, 255, 1);
}